* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: blue;

}

.btn {
    padding: 8px 14px;
    background-color: rgb(14, 196, 246);
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 570px;
    margin: auto;
    position: relative;
}

.first .txt .head {
    font-size: 3rem;
    line-height: 100px;
}

.first .txt .para {
    font-size: 1.5rem;
    width: 80%;
    opacity: .7;
}

.img {
    position: absolute;
    right: 0px;
    top: 65px;
}

.first .img img {
    width: 260px;
}

.second {
    background-image: url('/static/imgs/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 220px 20px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    gap: 20px;
}

.center .card .num {
    font-size: 2rem;
    opacity: .6;
    line-height: 40px;
}

.center .card .head {
    font-size: 1.5rem;
    opacity: .9;
    line-height: 40px;
}

.center .card .para {
    font-size: 1rem;
}

.third {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 140px 20px;
}

.third h2 {
    line-height: 50px;
    text-transform: capitalize;
}

.third p {
    line-height: 20px;
}

.fourth {
    background-image: url('/static/imgs/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-main {
    max-width: 1200px;
    margin: auto;
    padding: 150px 20px 100px 20px;
    color: #fff;
    text-align: center;
}

.fourth-main .head {
    font-size: 2rem;
    opacity: .9;
    text-transform: capitalize;
    line-height: 50px;
}

.fourth-main .para {
    width: 70%;
    margin: auto;
    line-height: 20px;
    padding-bottom: 10px;
}

.fourth-img {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 20px;
}

.fourth-img .img-div {
    width: 45%;
    height: 40vh;
    border: 1px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.fourth-img p {
    text-transform: uppercase;
}

/* responsive */

@media screen and (max-width: 1052px) {
    .first {
        max-width: 800px;
        height: 470px;
    }

    .first .txt .head {
        font-size: 2.5rem;
        line-height: 70px;
    }

    .first .txt .para {
        font-size: 1.3rem;
        width: 65%;
    }

    .img {
        right: 0px;
        top: 65px;
    }

    .first .img img {
        width: 210px;
    }

    .center {
        padding: 150px 20px;
    }

    .center .card .num {
        font-size: 1.8rem;
    }

    .center .card .head {
        font-size: 1.2rem;
        opacity: .9;
        line-height: 40px;
    }

    .third {
        padding: 100px 20px;
    }

    .fourth-main {
        padding: 100px 20px 70px 20px;
    }
}

@media screen and (max-width: 867px) {
    .first {
        max-width: 600px;
        height: 390px;
    }

    .first .txt .head {
        font-size: 2rem;
        line-height: 50px;
    }

    .first .txt .para {
        font-size: 1.1rem;
        width: 55%;
    }

    .img {
        right: 0px;
        top: 65px;
    }

    .first .img img {
        width: 170px;
    }

    .center {
        padding: 100px 20px;
    }

    .center .card .num {
        font-size: 1.5rem;
    }

    .center .card .head {
        font-size: 1rem;
        opacity: .9;
        line-height: 25px;
    }

    .center .card .para {
        font-size: .8rem;
    }

    .third {
        padding: 70px 20px;
    }

    .fourth-main {
        padding: 80px 20px 50px 20px;
    }
}

@media screen and (max-width: 654px) {
    .first {
        max-width: 470px;
        height: 270px;
    }

    .first .txt .head {
        font-size: 1.7rem;
        line-height: 50px;
    }

    .first .txt .para {
        font-size: 1rem;
        width: 55%;
    }

    .img {
        right: 0px;
        top: 40px;
    }

    .first .img img {
        width: 120px;
    }

    .center {
        padding: 70px 20px;
    }

    .third {
        max-width: 85%;
        padding: 50px 20px;
    }

    .third h2 {
        line-height: 40px;
    }

    .third p {
        line-height: 20px;
    }

    .fourth-main {
        padding: 60px 20px 30px 20px;
    }

    .fourth-main .head {
        font-size: 1.5rem;
        line-height: 50px;
    }

    .fourth-main .para {
        width: 85%;
        margin: auto;
    }

    .fourth-img {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 20px;
    }

    .fourth-img .img-div {
        width: 49%;
    }

    .fourth-img p {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 502px) {
    .first {
        margin-top: 50px;
        flex-direction: column;
        max-width: 390px;
        height: 460px;
        position: static;
        justify-content: center;
        text-align: center;
    }

    .first .txt .head {
        font-size: 1.7rem;
        line-height: 50px;
    }

    .first .txt .para {
        width: 95%;
        margin: auto;
    }

    .img {
        position: static;
    }

    .first .img img {
        width: 150px;
        margin: 20px 0px;
    }

    .center {
        padding: 70px 20px;
        flex-direction: column;
        width: 80%;
    }

    .center .card .para {
        width: 70%;
        margin: auto;
    }

    .third {
        max-width: 90%;
        padding: 20px 0px;
    }

    .third h2 {
        line-height: 40px;
    }

    .third p {
        line-height: 20px;
    }

    .fourth-main {
        padding: 50px 20px 20px 20px;
    }

    .fourth-main .head {
        font-size: 1.3rem;
        line-height: 50px;
    }

    .fourth-main .para {
        width: 95%;
        margin: auto;
        font-size: 0.9rem;
    }

    .fourth-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 20px;
    }

    .fourth-img .img-div {
        width: 85%;
        margin-bottom: 10px;
        height: 28vh;
    }

    .fourth-img p {
        text-transform: uppercase;
    }

    .btn {
        padding: 6px 10px;
    }
}